.gradle/
.gradletasknamecache
.DS_Store
build/
.idea/*
*.iml*
*.log*
*.war
web/src/main/resources/log4j.properties
api/out/*
core/out/*
web/out/*
.project
.vscode/
api/.project
api/bin/
bin/
core/.project
core/bin/
web/.project
web/bin/
.classpath
.settings/
api/.classpath
api/.settings/
core/.classpath
core/.settings/
web/.classpath
web/.settings/
